spring:
  application:
    name: slack-service
  datasource:
    url: jdbc:postgresql://localhost:5438/slack_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: slack-service
      auto-offset-reset: latest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.remove.type.headers: true
        spring.json.value.default.type: com.sparta.slackservice.dto.request.SendOrderAINotifyReqDto
        spring.json.trusted.packages: "*"

server:
  port: 8086

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

slack:
  bot:
    token: ${SLACK_BOT_TOKEN}

gemini:
  api:
    key: ${GEMINI_API_KEY}