spring:
  application:
    name: slack-service
  datasource:
    url: jdbc:postgresql://localhost:5438/slack_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8086

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

slack:
  bot:
    token: ${SLACK_BOT_TOKEN}

gemini:
  api:
    key: ${GEMINI_API_KEY}